.icon {
    display: inline-block;
    background: 50% no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
}

.icon_size_28 {
    width: 28px;
    height: 28px;
}

.icon__play {
    background-image: url('./play.svg');
}

.icon__pause {
    background-image: url('./pause.svg');
}

.icon__next {
    background-image: url('./next.svg');
}

.icon__previous {
    background-image: url('./previous.svg');
}